<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg6.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title">保护您的作品免受盗版的侵害</h1>
                <!-- <div class="text-center">
                  <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                    <i class="fab fa-facebook-square"></i>
                  </a>
                  <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                    <i class="fab fa-twitter"></i>
                  </a>
                  <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                    <i class="fab fa-google-plus"></i>
                  </a>
                </div> -->
            </div>
        </div>
    </div>
    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">了解我们</h2>
                    <h5 class="description">我们是一家基于区块链的版权保护公司，在您上传图片或者文字内容的同时即将文件唯一标识上传到区块链上，利用区块链分布式和不可篡改的特性，我们将为您提供持续的版权保护服务。</h5>
                </div>
            </div>
            <div class="separator separator-primary"></div>
            <!-- <div class="section-story-overview">
                <div class="row">
                    <div class="col-md-6">
                        <div class="image-container image-left" style="background-image: url('assets/img/login.jpg')">
                            
                            <p class="blockquote blockquote-primary">"Over the span of the satellite record, Arctic sea ice has been declining significantly, while sea ice in the Antarctichas increased very slightly"
                                <br>
                                <br>
                                <small>-NOAA</small>
                            </p>
                        </div>
                       
                        <div class="image-container" style="background-image: url('assets/img/bg3.jpg')"></div>
                    </div>
                    <div class="col-md-5">
                       
                        <div class="image-container image-right" style="background-image: url('assets/img/bg1.jpg')"></div>
                        <h3>So what does the new record for the lowest level of winter ice actually mean</h3>
                        <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever happens with climate change. Even if the Arctic continues to be one of the fastest-warming regions of the world, it will always be plunged into bitterly cold polar dark every winter. And year-by-year, for all kinds of natural reasons, there’s huge variety of the state of the ice.
                        </p>
                        <p>
                            For a start, it does not automatically follow that a record amount of ice will melt this summer. More important for determining the size of the annual thaw is the state of the weather as the midnight sun approaches and temperatures rise. But over the more than 30 years of satellite records, scientists have observed a clear pattern of decline, decade-by-decade.
                        </p>
                        <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever happens with climate change. Even if the Arctic continues to be one of the fastest-warming regions of the world, it will always be plunged into bitterly cold polar dark every winter. And year-by-year, for all kinds of natural reasons, there’s huge variety of the state of the ice.
                        </p>
                    </div>
                </div>
            </div> -->
            <div class="section-story-overview">
                <div class="row">
                    <!-- <div class="col-md-6 image-container style="background-image: url('assets/img/bg1.jpg')">
                        
                    </div> -->
                    <!-- <div class="col-md-6 image-container image-right" style="background-image: url('assets/img/bg1.jpg')"></div> -->
                    <div class="col-md-6">
                        <img src="/assets/img/bg1.jpg" alt="">
                    </div>
                    <div class="col-md-6 ml-auto mr-auto text-center">
                        <h2>版权上链</h2>
                        <p class="description">上传同时进行检验，如果有冒认版权的情况会展示警告，同时原创作品会在第一时间进行上链操作，非关系数据库高效查询和区块链技术为平台赋能，完成对您的作品的实时保护。</p>
                    </div>
                </div>
            </div>
            
            <div class="section-story-overview">
                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto text-center">
                        <h2>版权监测</h2>
                        <p class="description">对版权图片或者文本进行实时监测，结合人工智能技术进行比对，无论是图片压缩、剪裁还是摘取部分文字内容，都能轻松进行相似度比对。多节点区块链系统能够进行24小时海量数据监测，微信公众平台任何发表文章都能够快速摘取。</p>
                    </div>
                    <div class="col-md-6">
                        <img src="/assets/img/bg3.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-team text-center">
        <div class="container">
            <h2 class="title">我们的优势</h2>
            <div class="team">
                <div class="row">
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/tendermint.jpeg" alt="Thumbnail Image" class="example-picture">
                            <h4 class="title">Tendermint共识机制</h4>
                            <p class="description">使用Tendermint作为底层的共识机制，保证安全性、可信性、扩展性。</p>
                                <!-- <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-instagram"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-facebook-square"></i></a> -->
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/mongodb.svg" alt="Thumbnail Image" class="example-picture">
                            <h4 class="title">结合MongoDB高效查询</h4>
                            <p class="description">每个节点使用MongoDB作为存储引擎，大大加快写入和查询效率，能够满足海量互联网图片查询的吞吐量</p>
                                <!-- <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-linkedin"></i></a> -->
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/eva.jpg" alt="Thumbnail Image" class="example-picture">
                            <h4 class="title">智能图片识别</h4>
                            <p class="description">使用人工智能算法对图片进行比对，返回精确的相似度比较分数。能够帮助您判断是否产生侵权行为。</p>
                                <!-- <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-google-plus"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-youtube"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="section section-contact-us text-center">
        <div class="container">
            <h2 class="title">Want to work with us?</h2>
            <p class="description">Your project is very important to us.</p>
            <div class="row">
                <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                  <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus===true}">
                    <div class="input-group-prepend" >
                      <span class="input-group-text">
                          <i class="now-ui-icons users_circle-08"></i>
                      </span>
                    </div>
                      <input type="text" class="form-control" placeholder="Left Font Awesome Icon" (focus)="focus=true" (blur)="focus=false">
                  </div>
                  <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                    <div class="input-group-prepend" >
                      <span class="input-group-text">
                            <i class="now-ui-icons ui-1_email-85"></i>
                      </span>
                    </div>
                      <input type="text" class="form-control" placeholder="Left Font Awesome Icon" (focus)="focus1=true" (blur)="focus1=false">
                  </div>
                    <div class="textarea-container">
                        <textarea class="form-control" name="name" rows="4" cols="80" placeholder="Type a message..."></textarea>
                    </div>
                    <div class="send-button">
                        <a href="#pablo" class="btn btn-primary btn-round btn-block btn-lg">Send Message</a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>
